header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    background-color: rgb(175, 255, 101);
    padding: 25px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 224, 241);
}

.topnavbar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 224, 241);
    text-align: left;
    padding-left: 10px;
}

.split{
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 40%;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size: 1.25em;
}

.right{
    flex: 60%;
}

.frontimg{
    width: 100%;
}

.register{
    text-align: center;
    background-color: burlywood;
}

.profile_table, td, tr{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.card{
    margin-top: 25px;
}

#login-button{
    background-color: rgb(175, 255, 101);
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 9px 19px;
    border-radius: 5px;
    justify-content: center;
}

#left_profile{
    flex: 75%;
}
#right_profile{
    flex: 25%;
}

.profile_content{
    display:flex;
    flex-flow: column;
}

.profile_pages{
    align-self: center;
}

#header-link a:visited{
    color: black;
}

#header-link a:link{
    color: black;
}

#header-link a:hover{
    color: black;
}

a:active{
    color:black;
}

.card a:link{
    color: rgb(53, 218, 240);
}

.card a:visited{
    color: rgb(53, 218, 240);
}