header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: rgb(175, 255, 101);
    padding: 40px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 224, 241);
}

.topnavbar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 224, 241);
    text-align: left;
}

.split{
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 40%;
    background-color: black;
    color: blanchedalmond;
}

.right{
    flex: 60%;
}

.frontimg{
    width: 100%;
}

.register{
    text-align: center;
    background-color: burlywood;
}