{% extends "layout_template.html" %}
{% block main %}
    <div>
        Details for transaction {{ transaction_details_dict["transaction_id"] }}.
    </div>
    <div>
        {% for key in transaction_details_dict %}
            {{ key }}: {{ transaction_details_dict[key] }}
            <br>
        {% endfor %}
    </div>
    <div>
        Analysis goes here!
        {% if transaction_details_dict["price_difference"] > 0 %}
        By making this trade when you did, you've gained a potential ${{transaction_details_dict["price_difference"]}}!
        {% else %}
        By making this trade when you did, you lost a potential ${{transaction_details_dict["price_difference"]}}.
        {% endif %}
    </div>
    <div>
        {{transaction_details_dict}}
        
    </div>
    <div>
        <button id="details_button" onclick="test_ajax()">Press here for an up-to-date price of this stock!</button>
        <button onclick="test_js()">Press here! 2.0</button>
        <p id="p_ajax">Test AJAX here!</p>
    </div>

    <script>
        function test_ajax(){
            var xhttp = new XMLHttpRequest();
            var trans_id = document.location.search.slice(1);
            console.log(trans_id);
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    document.getElementById("p_ajax").innerHTML = this.responseText;
                }
            };
            xhttp.open("POST","/details",true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(trans_id);
        }

        function test_js(){
            document.getElementById("p_ajax").innerHTML = "poo";
        }
    </script>
{% endblock %}
