{% extends "layout_template.html" %}
{% block main %}
    <div class="split">
        <div class="left">
            <form method="POST">
                Username 
                <input type="text" name="username" class="form-control" >
                Password
                <input type="password" name="password" class="form-control" >
                <input type="submit" value="Log In" class="w-25" id="login-button">
            </form>
            <a href="/register" class="btn btn-primary w-25">Register!</a>
        </div>
        <div class="right">
            <img src="/static/stockfeels.jpg" class="frontimg">        
        </div>
    </div>
    <div>
        {{ test_str }}
    </div>
{% endblock %}