{% extends "layout_template.html" %}
{% block main %}
<nav>
        <div class="topnavbar">
            <a href="register">REGISTER HERE!</a>
        </div>
    </nav>
    <div class="split">
        <div class="left">
            <form method="POST">
                    Username <input type="text" name="username">
                    Password <input type="password" name="password">
                    <input type="submit">
                </form>
                FORM FOR LOGIN     
            
        </div>
        <div class="right">
            <img src="/static/stockfeels.jpg" class="frontimg">        
        </div>
    </div>
    <div>
        {{ test_str }}
    </div>
{% endblock %}
