<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        <title>StockFeels</title>
    </head>
    <body>
        <header>
            <div>
                StockFeels
            </div>
        </header>
        <nav>
            <div class="topnavbar">
                HOME REGISTER LOGIN 
            </div>
        </nav>
        {% block main %}{% endblock %}
        <footer>
            <a href="/">HOME</a>
        </footer>
    </body>
</html>