{% extends "layout_template.html" %}
{% block main %}
    <nav>
        <div class="topnavbar">
            <a href="entry">Add a new entry!</a>
        </div>
    </nav>
    <div>
        Welcome, {{ session["username"] }}
    </div>
    <div>
        List of transactions and journals here
        <br>
        <table class="profile_table">
            <tr>
                <td>
                    Transaction ID
                </td>
                <td>
                    x
                </td>
                <td>
                    Date of Transaction
                </td>
                <td>
                    x
                </td>
                <td>
                    Stock
                </td>
                <td>
                    Buy/Sell
                </td>
                <td>
                    Price
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Comments
                </td>
                <td>
                    Feels
                </td>
            </tr>
            {% for transaction in user_transactions %}
            <tr>
                {% for column in transaction %}
                <td>
                    {{ column }} 
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
