{% extends "layout_template.html" %}
{% block main %}
<div class="split">
    <div id="left_profile">
        <div>
            Welcome, {{ session["username"] }}.
        </div>
        <div>
            List of transactions and journals here
            <div class="topnavbar">
                <a href="entry">Add a new entry!</a>
            </div>
            <table class="profile_table">
                <tr>
                    <td>
                        Transaction ID
                    </td>
                    <td>
                        Date of Transaction
                    </td>
                    <td>
                        Date of Entry (UTC)
                    </td>
                    <td>
                        Stock
                    </td>
                    <td>
                        Buy/Sell
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Quantity
                    </td>
                    <td>
                        Comments
                    </td>
                    <td>
                        Feels
                    </td>
                    <td>
                        Link
                    </td>
                </tr>
                {% for transaction in user_transactions %}
                <tr>
                    {{ transaction }}
                    <!-- key_list
['transaction_id', 'userid', 'trans_datetime', 'entry_datetime', 'stock_name', 'buysell', 'price', 'quantity', 'comment', 'emotion']
-->
                    <td>
                        {{ transaction['transaction_id'] }}
                    </td>
                    <td>
                        {{ transaction['trans_datetime'] }}
                    </td>
                    <td class="entry_datetime">
                        {{ transaction['entry_datetime'] }}
                    </td>
                    <td>
                        {{ transaction['stock_name'] }}
                    </td>
                    <td>
                        {% if transaction['buysell'] == '0' %}
                            Buy
                        {% else %}
                            Sell
                        {% endif %}
                    </td>
                    <td>
                        {{ transaction['price'] }}
                    </td>
                    <td>
                        {{ transaction['quantity'] }}
                    </td>
                    <td>
                        {{ shortened_comments[transaction] }}
                    </td>
                    <td>
                        {{ transaction['emotion'] }}
                    </td>
                    <td>
                    <!-- transaction[0] is the transaction id, but if we change code in functions.py we have to adjust this-->
                        <a href="/details?transactionid={{transaction[0]}}">Details</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="timezone">
        </div>

        <script>
            function getTimeZone() {
                var date = new Date();
                var tz = date.getTimezoneOffset();
                document.getElementById("timezone").innerHTML = tz;
            }
            getTimeZone();
        </script>
    </div>
    <div id="right_profile">
        Sidebar here!
    </div>
</div>
{% endblock %}
