{% extends "layout_template.html" %}
{% block main %}
    <div class="register">
        <form method="POST" class="register needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
            </div>
            <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="password" id="confirm_label">Confirm Password</label>
                        <input type="password" id="password_confirm" name="confirm_password" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please re-enter a password.
                        </div>
                    </div>
                </div>
            <div class="form-row col-md-4 mb-3">
                    Passwords are case sensitive
            </div>
            <div class="form-row" id="register-submit-button">
                <input type="submit" class="btn-secondary form-control" onclick="check_entry(); check_pass_match();">
            </div>
        </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var pass = document.getElementById("password");
                var pass_conf = document.getElementById("password_confirm");
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false || pass != pass_conf) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);
            })();
    </script>
    <script>
        function check_pass_match(){
            var pass = document.getElementById("password");
            var pass_conf = document.getElementById("password_confirm");
            if (pass != pass_conf){
                document.getElementById("confirm_label").innerHTML = "Passwords must match!";
                document.getElementById("confirm_label").classList.add("register_confirm_label")
            }
        }
    </script>
    <script>
        function check_entry(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    //change document here TODO
                }
            };
            xhttp.open("GET", "/registererror", true);
            xhttp.send();
        }
    </script>
{% endblock %}